<h1>Salut</h1>
<p onclick="myFunction(this, 'red')">Click me to change my text color.</p>
<a href='/test'>Testyut</a>
<a href='/stop'>STOP</a>
<a href='/radio1'><%= radio1namefront %></a>
<a href='/radio2'><%= radio2namefront %></a>
<a href='/radio3'><%= radio3namefront %></a>
<a href='/radio4'><%= radio4namefront %></a>
<a href='/radio5'><%= radio5namefront %></a>

<script>
function myFunction(elmnt,clr) {
  elmnt.style.color = clr;
  console.log('a mers')
}
</script>